//
@import url('https://fonts.googleapis.com/css?family=Nunito');


    html, body {
        background-color: #fff;
        color: #969393;
        font-family: 'Nunito', sans-serif;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        font-weight: 400;
    }

    h1{
        margin: 0
    }

    h2 {
        margin: 0
        
    }

    a {
        color: rgb(0, 0, 0);
        text-decoration-style: none;
        font-weight: 600;
    }

    a:hover {
        color: rgb(95, 37, 189);
    }

    input {
        width: 100%;
        line-height: 45px;
        outline-style: none;
        border: 3px solid;
        border-color: rgb(0, 0, 0);
        border-radius: 6px;
        background-color: white;
        padding-left: 10px;
    }

    input:focus {
        border-color: rgb(95, 37, 189);
    }

    .button-default{
        line-height: 45px;
        border: 3px solid;
        border-color: rgb(95, 37, 189);
        border-radius: 6px;
        background-color: white;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        letter-spacing: 0.35px;
        font-weight: bold;
        color: rgb(95, 37, 189);
        transition: 0.2s;
        cursor: pointer;
    }

    .button-default:hover {
        background-color: rgb(95, 37, 189);
        color: white;
    }
