@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #c9c9c9;
  line-height: 40px;
  font-size: 18px;
}

.navbar-brand {
  font-size: 25px;
  flex: 1;
  align-self: flex-start;
  margin-left: 20px;
  font-weight: 600;
  color: #773eb8;
  cursor: pointer;
}

.navbar-options {
  color: #6e6e6e;
  flex: 2;
  align-self: flex-end;
  text-align: right;
}

.navbar-option {
  margin-right: 15px;
  margin-left: 15px;
}

.separator {
  border-width: 1px;
  border-style: solid;
  border-color: #afafaf;
}

