@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #d1d1d1;
  line-height: 40px;
  font-size: 18px;
}

.navbar-brand {
  font-size: 25px;
  flex: 1;
  align-self: flex-start;
  font-weight: 700;
  color: #5f25bd;
  cursor: pointer;
}

.navbar-links {
  text-align: right;
}

.navbar-hamburger {
  cursor: pointer;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0px;
  background-color: #73449e;
  transition: 0.8s;
}

.hamburger-option {
  padding: 20px;
  flex: 1;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.hamburger-option:hover {
  color: white;
  text-decoration: none;
}

.navbar-option {
  margin-right: 15px;
  margin-left: 15px;
}

.separator {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

@media (min-width: 768px) {
  .navbar-hamburger {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
}

